{{#extends "base"}}
{{#block "content"}}
<h2>Edit Customers</h2>
<form method="post">
    <div>
        <label>First Name:</label>
        <input type="text" class="form-control" name="first_name" value="{{customer.first_name}}">
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" class="form-control" name="last_name" value="{{customer.last_name}}">
    </div>
    <div>
        <label>Rating:</label>
        <input type="number" class="form-control" name="rating" value="{{customer.rating}}">
    </div>
    <div>
        <label>Company:</label>
        <select class="form-select" aria-label="Select Company" name="company_id">
            {{#each companies}}
                <option value="{{this.company_id}}" 
                {{#eq this.company_id ../customer.company_id}}selected{{/eq}}>{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div>
        <label>Employees Handling:</label>
        <select class="form-select" aria-label="Select Employees" name="employees" multiple>
            {{#each employees}}
                <option value="{{this.employee_id}}" 
                {{#inArray ../employeeIds this.employee_id}}selected{{/inArray}} >
                    {{this.first_name}} {{last_name}}</option>
            {{/each}}
        </select>
    </div>
    <input type="submit" class="btn btn-primary my-4" value="Edit Customer">
</form>

{{/block}}

{{/extends}}